@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

:root {
--bitcoin-orange: #f7931a;
--soft-orange: #c57717;
--secundary-orannge: #f5aa50;
--soft-white: #F0F7FF;
--secondary-blue: #1a9af7;
--off-blue: #2148c0;
--soft-blue: #e7f5ff;
--warm-black: #282623;
--black: #201e1c;
--grey: #bababa;
--off-white:  #F0F0F0;
--just-white: #ffffff; 
}
body{
    background-color: var(--off-white) ;
    font-family: 'Open Sans', sans-serif !important;
}
button{
    border: none;
    text-decoration: none;
    border-radius:10px;
    background-color: white;
    outline:none;
}