.header-landing{
    background-color: var(--warm-black);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.header--menu-title{
    color: var(--just-white);
    font-size: 1.4em;
    padding-left: 5px;
    text-decoration: none;
}
.header--menu-container > a{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;

}

.header-user{
    color: var(--grey);
    font-size: 1.4em;
    padding-left: 5px;
    text-decoration: none;
    margin-right: 10px;

}