.header{
    background-color: var(--warm-black);
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.header a {
    color: var(--just-white);
    font-size: 1.4em;
    padding-left: 5px;
    text-decoration: none;
}
.header--menu-container > a{
    display: flex;
    align-items: center;
    width: fit-content;
    height: 30px;

}

.header-user{
    font-size: 1.3em;
    margin-right: 10px;
    background-color: var(--bitcoin-orange);
    border-radius: 5px;
    height: 30px;
    width: fit-content;
    padding-top: 4px;
    padding-right: 3px;
}
.header-user:hover{
    background-color: var(--soft-orange);
}