.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(232deg, #201e1c, #f7931a);
    background-size: 400% 400%;

    -webkit-animation: bgAnimateBitcoin 20s ease infinite;
    -moz-animation: bgAnimateBitcoin 20s ease infinite;
    animation: bgAnimateBitcoin 20s ease infinite;
}

@-webkit-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes bgAnimateBitcoin {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.hero img {
    width: 150px;
    height: 24px;
    align-self: center;
}
.hero--title-container{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    
    
}
.hero--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
    margin-top: 20px;
}
.hero--title-container .hero--button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgb( 89, 73, 30, 0.16) ;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
    left: calc(50% - 118px);

}
.hero--title-container span img {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-left: 10px;
}
.hero--title-batata{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero--title-batata > h2 {
    font-size: 2em;
    color: var(--just-white);
    margin-left: 5px;
}
.hero--description{
    color: var(--just-white);
    padding-top: 25px;
    font-size: 1.4rem;
    max-width: 500px;
    margin: 0 auto;
    line-height:1.4rem;

}