.goal_ammount{
    padding-left: 10px;
    padding-top: 14px;
}
.goal_date{
    padding-left: 10px;
    color: #AEAEAE;
}
.goal_icon{
    margin-left: 10px;
    margin-top: 10%;
    font-size: 4em;
}
.goal_title{
    margin-left: 10px;
    font-size: 1.2em;
}
.goal_container{
   min-width: 31.7%;
   margin-left: 5px;
   height: 150px;
   cursor: pointer;
}
.goalitem_noGoal{
    height: 100px;
    margin: auto;
}
/* media querys */
@media(min-width: 360px){
    .goal_title{
        font-size: 1.5em;
    }
}
@media(min-width: 775px){
    
}
/* scroll */
.goalItem::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
    border-radius: 10px;
}
.goalItem::-webkit-scrollbar-track{
    background-color: #F5F5F5;
    border-radius: 10px;
}
.goalItem::-webkit-scrollbar-thumb{ 
    background-color:var(--grey);
    border-radius: 10px;
}