/* header text description */
.header_text{
    margin-left: 10px;
}
.header_Text{
    display: none;
}
.header_textTitle{
    font-weight: 800;
    font-size: 2.5em;
}
/*headers user conatiner */
.header_user{
    display: flex;
    align-items: center;
}
/* user data & icons ... */
.header_userIcon{
    margin-right: 10px;
    font-size: 1.8em;
    color: var(--grey);
    cursor: pointer;
}
.header_userIcon:hover{
    color: var(--home-blue);
}
.header_userAvatar{
    width: 40px;
    border-radius: 20px;
    margin: 0 10px;
    
}
.header_TextOptions{
    cursor: pointer;
    color: var(--grey);
}
.header_TextOptions:hover{
    color: var(--home-blue);
}
.header_TextName{
    font-size: 1.2em;
    font-weight: 800;
}

/* media querys */
@media (min-width: 430px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media(min-width: 500px){
    .header_Text{
        display: inline;
    }
}
@media(min-width: 770px){
    .header_activateNavbar{
        display: none;
    }
}