/* header text */
.header_text{
    margin-left: 10px;

}
.header_Text{
    display: none;
}
.header_textTitle{
    font-weight: 800;
    font-size: 2.5em;
}
/* header user icons an the other idk */
.header_user{
    display: flex;
    align-items: center;


}
/* user data info ... */
.header_userMail, .header_userHamburger{
    margin-right: 10px;
}
.header_userMail:hover > path {
    fill: #197BBD;
    cursor: pointer;
}
.header_userNotification:hover > path {
    fill: #197BBD;
    cursor: pointer;
}
.header_sideBar:hover > path{
    stroke: #197BBD;
    cursor: pointer;
}
.header_userAvatar{
    width: 50px;
    
}
.header_TextOptions{
    cursor: pointer;
    color: #AEAEAE;
}
.header_TextOptions:hover{
    color: #197BBD;
}
.header_TextName{
    font-size: 1.2em;
    font-weight: 800;
}

@media (min-width: 430px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    

}
@media(min-width: 500px){
    .header_Text{
        display: inline;
    }
}
@media(min-width: 770px){
    .header_userHamburger{
        display: none;
    }
}