.navbar{
    max-width: 180px;
    box-shadow: 1px 0px 0px 0px #d6d6d6;
    margin-left: -220px;
    position: absolute;
    margin-top: -21px;
    transition: 0.1s;
    box-shadow: 0px 16px 24px rgb(0 0 0 / 6%);
}
.navbar_activate{
    margin-left: -20px;
    background-color: white;
    border-radius: 20px;
    max-width: 200px;
    transition: 0.1s;
    height: 100%;
    position: absolute;
    height: 276%;
    margin-top: -21px;
}
.navrbar_menuSideBar{
    margin-top: 100px;
}
/* is the section whit the logo in the navBar */
.logo{
    margin-top: 7%;
    margin-left: 7%;
    display: flex;
}
.logo_text{
    padding-left: 1%;
    font-size: 1.7em;

}
/* buttons of the menu */
.menu_button{
    height: 39px;
    width: 160px;
    border-radius: 4px;
    margin-bottom: 5px;
}
.menu_button:hover{
    background-color: #F0F7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
/* buttons items */
.menu_button:hover > .menu_option   p, .menu_button:hover > .menu_option   i{
    color: var(--home-blue);
}
.menu_button_icon{
    color: var(--grey);
    font-size: 1.3em;
}
/* option is a inner div whit the elements */
.menu_option{
    display: flex;
    margin: auto;
    width: 100px;
}
/* selectors in options */
.menu_option > p{
    padding-left: 5px;
    color: #C7C7C7;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
}

.menu_option > * {
    align-self: center;
    
}


/* move it is a class designe to align items manually whit padding */
.moveIt{
    padding-left: 10px;
}
/* update your plan!! the section ._. */
.navbar_upgrade{
    margin-top: 20px;
}
.navbar_upgradeImg{
    margin-left: 24%;
}
.navbar_upgradeButton{
    background-color: var(--bitcoin-orange);
    width: 163.21px;
    height: 41.03px;
    border-radius: 13.617px;
    margin-top: 10px;
    font-weight: 1000;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
}
.navbar_upgradeButton > svg {
    margin-left: 5px;
}
.navbar_upgradeButton:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 775px){
    .navbar_activate, .navbar{
        position: relative;
        transition: 0s;
        margin-left: 0px;
        margin-top: 0px;
        box-shadow: 1px 0px 0px 0px rgb(0 0 0 / 6%);
        border-radius:0px;
        height: 100%;
    }
    .logo{
        margin-top: 1%;
        margin-left: 0px;
    }

}

    