/* card is a class designe to give styles to all the cards */
.card{
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}
/* cards is the main container  */
.cards_container{
    display: flex;
    flex-direction: column;
}
/* cards have 2 sons , right and left side */
.cards_leftContainer{
    width: 100%;
    margin: 10px;
    margin-bottom: 0px;
}
.cards_RigthContainer{
    width: 100%;
    height: auto;
    display: grid;
    gap: 5px;
    grid-template-rows: 170px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 450px;

}
/* left card */
.card_LeftOverview{
    height: 50vh;
    max-width: 450px;
    margin: 0 auto;
    border: 21px solid white;
    display: flex;
    flex-wrap: wrap;
}
.card_LeftHistory{
    background-color: white;
    height: 50vh;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: auto;
    height: 25rem;
}
.card_LeftHistory::-webkit-scrollbar{
    display: none;
 }
/* right cards  */
.card_RightGoal{
    background-color: white;
    grid-column: 3 span;
}


.card_RightGoalTap{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 1 span;
    width: 99%;
    justify-content: center;
    justify-self: center;
    height: 79%;
}
/* tap is each div in goal */


.card_RigthStatics{
    width: 100%;
    grid-column: 3 span;
}
.card_RigthTransactions{
    grid-column: 2 span;
}
/* media query Mobile first */
@media(min-width: 425px){
    .tap1{
        grid-column: 1 span;
    }
    .tap2 {
        display: inline;
    }
    .tap3 {
        display: inline;
    }
}
@media(min-width: 570px){
    .cards_container{
        display: flex;
    }
}
@media(min-width: 900px){
    .cards_container{
        flex-direction: row;
    }
    .overview_visa{
        min-height: none; 
        max-width: none;
        width: 260px;
        
    }
    .cards_RigthContainer{
        margin-left: 0px;
        margin-top: 0;
    }
    .cards_leftContainer{
        height: 90vh;
        margin-right: 0px;
    }
    .card_LeftOverview{
        margin-bottom: 6%;
    }
    .card_LeftHistory{
        height: 39%;
    }
}
@media(min-width: 1000px){
.card_RightGoalTap{
    width: 90%;
    }
}

