.history_table{
    width: 90%;
    height: 90%;
    margin: 10px auto;
}

.histoty_tableValueContainer{
    box-shadow: 0px 1px 1px 0px #ECECEC;
    border-radius: 20px;
}
.histoty_tableValue{
    color: #AEAEAE;
    font-size: 1.3em;
}
.histoty_tableSvg{
    padding: 1px;
    margin-right: 5px;
    background-color: #EFEFEF;
    border-radius: 4px;
}
.history_tableHead{
    text-align: left;
    margin-left: 10px;
    color: #AEAEAE;
    font-size: 1.3em;
}
.first{
    color: black;
}
.last{
    text-align: end;
    padding-right: 10px;
    font-weight: bold;
    color: black;
}

