.main-product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}
.main-product-detail .batatalogo{
    position: absolute;
    width: 40px;
    height: 25px;
    top: -15px;
    left: calc(50% - 20px); 
    background-image: url(../../images/icons/batata.svg);
}
.product-detail-title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;

}
.product-detail-title h2{
    color: var(--just-white);
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;}

.product-detail-title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    width: 508;
    line-height: 1.8rem;
    color:  #808080;
    }
.product-detail-card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0, 0, 0.16);
}
.product-detail-card .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product-detail-card #clock{
    background-image: url(../../images/landing/clock.svg);
}
.product-detail-card #eye{
    background-image: url(../../images/landing/eye.svg);
}
.product-detail-card #money{
    background-image: url(../../images/landing/dolar.svg);
}
.product-detail-card #check{
    background-image: url(../../images/landing/check.svg);
}
.product-card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080 ;}
